
func (o *{{.StructName}}) Parse() error {
    flagSet := flag.NewFlagSet(os.Args[0], flag.ExitOnError)
    {{- range .Flags}}
    flagSet.{{.VarFunc}}(&o.{{.Default}}, "{{.Field}}", o.{{.Default}}, "{{.Description}}")
    {{- end}}

    var positional []string
    args := os.Args[1:]
    for len(args) > 0 {
        if err := flagSet.Parse(args); err != nil {
            return err
        }

        if remaining := flagSet.NArg(); remaining > 0 {
            posIndex := len(args) - remaining
            positional = append(positional, args[posIndex])
            args = args[posIndex+1:]
            continue
        }
        break
    }

    {{if .Positional}}
    if len(positional) == 0 {
        {{range .Required -}}
        if o.{{.Field}} == {{print .Zero}} {
            return errors.New("field '{{ .Field}}' is required")
        }
        {{end -}}

        return nil
    }

    {{- range $index, $fields := .Positional}}
    {{range $field := $fields }}
    o.{{$field}} = positional[{{$index}}]
    {{- end}}
    {{end}}
    {{end -}}

    {{- range .Required -}}
    if o.{{.Field}} == {{print .Zero}} {
        return errors.New("field '{{ .Field}}' is required")
    }
    {{end -}}

    return nil
}

func (o *{{.StructName}}) MustParse() {
    if err := o.Parse(); err != nil {
        flag.PrintDefaults()
		fmt.Fprintln(os.Stderr)
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
    }
}
